* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color:#999
}


body {
  width: 990px;
  margin: auto;
  font-family: 'Roboto Slab', serif;
  background-color: #1b1b1c;
  position: relative;
}

header,
main,
footer {
  width: 100%;
  min-height: 10vh;
  float: left;
  margin: 20px auto;
  border: 1px solid #333;
  padding: 10px 20px;
  position: relative;
}

header, footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}